[
  {alinkcore, [
      {mods, [alinkiot_user]}
  ]},
  {kernel, [
      {logger_level, all},
      {logger, [{handler, default, logger_std_h, #{ formatter => {logger_formatter, #{ }}}}]}
  ]},
  {alinkdata, [
    {mysql, [
                [
                    {pool,  default},
                    {host, "42.192.233.82"},
                    {port, 3306},
                    {user, "iot"},
                    {password, "sGT7NPGGsNCAkDsB"},
                    {database, "iot"},
                    {pool_size, 1},
                    {query_timeout, 30000},
                    {connect_timeout, 30000}
                ]
            ]},
    {redis, [
                [
                    {pool,  default},
                    {host, "127.0.0.1"},
                    {port, 6379},
                    {password, ""},
                    {database, 0},
                    {pool_size, 10}
                ]
            ]}
  ]}
].
